input{
    width: 100%;
    
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 300px;
}
input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

body{
    margin: 0;
    place-items: center;
    height: 500px;
     
}
body{
    margin: 0;
    height: 100vh;

    background-image: url("../img/fundo.jpg");

}
input[type="date"], select {
    width: 100%;             
    max-width: 400px;       
    padding: 12px;           
    border: 1px solid #ccc;  
    border-radius: 8px;      
    box-sizing: border-box;  
    font-size: 16px;         
}
form {
    color: white; 
}
h1{
    color: white;
}
h2{
    color: white;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="date"], 


select {
    background-color: transparent;     
    color: white;                       
    border: 2px solid white;            
    border-radius: 8px;                
    padding: 12px;                      
    box-sizing: border-box;
}


select option {
    background-color: #111;             
    color: white;
}